<section>
    <h1 class="text-3xl font-medium capitalize text-center text-green-500 mt-6">reset password</h1>

    @if(step == 1){
    <form [formGroup]="verifyEmail" class="shadow" (ngSubmit)="verificationEmail()">
        <div class="mb-5 w-[40%] mx-auto m-5">
            @let emailControl = verifyEmail.get('email');
            <label for="email"
                class="text-[20px] block mb-2 font-medium text-gray-900 dark:text-green-500 capitalize">email : </label>
            <input formControlName="email" type="email" id="email"
                class="bg-gray-50 border border-green-500 text-gray-900 text-2xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-green-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            @if(emailControl?.errors && emailControl?.touched){
            <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    @if(emailControl?.getError('required')){
                    <span class="font-medium">Danger alert! </span> Email is required.
                    }
                    @else if (emailControl?.getError('email')) {
                    <span class="font-medium">Danger alert! </span> make sure to enter a valid email.
                    }
                </div>
            </div>
            }
        </div>
        <button [disabled]="verifyEmail.invalid" class="btn-main">verify email</button>
    </form>
    }

    @if(step == 2){
    <form [formGroup]="verifyCode" class="shadow" (ngSubmit)="verificationCode()">
        <div class="mb-5 w-[40%] mx-auto m-5">
            @let resetCode = verifyCode.get('resetCode');
            <label for="resetCode"
                class="text-[20px] block mb-2 font-medium text-gray-900 dark:text-green-500 capitalize">verify code :
            </label>
            <input formControlName="resetCode" type="text" id="resetCode"
                class="bg-gray-50 border border-green-500 text-gray-900 text-2xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-green-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            @if(resetCode?.errors && resetCode?.touched){
            <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    @if(resetCode?.getError('required')){
                    <span class="font-medium">Danger alert! </span>Code is required.
                    }
                    @else if (resetCode?.getError('pattern')) {
                    <span class="font-medium">Danger alert! </span> make sure to enter a valid Code.
                    }
                </div>
            </div>
            }
        </div>
        <button [disabled]="verifyCode.invalid" class="btn-main">verify code</button>
    </form>
    }

    @if(step == 3){
    <form [formGroup]="resetPassword" class="shadow" (ngSubmit)="resetPasswordSubmit()">
        <div class="mb-5 w-[40%] mx-auto m-5">
            @let emailCotrol = resetPassword.get('email');
            @let newPasswordControl = resetPassword.get('newPassword');

            <label for="email"
                class="text-[20px] block mb-2 font-medium text-gray-900 dark:text-green-500 capitalize">email : </label>
            <input readonly formControlName="email" type="email" id="email"
                class="bg-gray-50 border border-green-500 text-gray-900 text-2xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-green-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            @if(emailCotrol?.errors && emailCotrol?.touched){
            <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    @if(emailCotrol?.getError('required')){
                    <span class="font-medium">Danger alert! </span>Email is required.
                    }
                    @else if (emailCotrol?.getError('email')) {
                    <span class="font-medium">Danger alert! </span> make sure to enter a valid Email.
                    }
                </div>
            </div>
            }
            <label for="newPassword"
                class="text-[20px] block mb-2 font-medium text-gray-900 dark:text-green-500 capitalize">newPassword :
            </label>
            <input formControlName="newPassword" type="password" id="newPassword"
                class="bg-gray-50 border border-green-500 text-gray-900 text-2xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-green-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            @if(newPasswordControl?.errors && newPasswordControl?.touched){
            <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    @if(newPasswordControl?.getError('required')){
                    <span class="font-medium">Danger alert! </span> New Password is required.
                    }
                    @else if (newPasswordControl?.getError('pattern')) {
                    <span class="font-medium">Danger alert! </span> Password must be at least 7 characters.
                    }
                </div>
            </div>
            }

        </div>
        <button [disabled]="resetPassword.invalid" class="btn-main">reset password</button>
    </form>
    }

</section>