

<nav class="bg-gray-300 fixed z-[999] w-full">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse pr-5">
          <img src="images/freshcart-logo.svg" alt="">
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="flex-grow hidden w-full md:flex md:w-auto" id="navbar-default">

        @if(isLogin()){
          <ul class=" font-medium capitalize flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-3 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-gray-300">
            <li>
              <a routerLink="/home" routerLinkActive="text-green-400 bg-gray-500" class="block py-2 px-3 text-black rounded-lg" aria-current="page">{{'navbar.home' | translate}}</a>
            </li>
            <li>
              <a routerLink="/products" routerLinkActive="text-green-400 bg-gray-500" class="block py-2 px-3 text-black rounded-lg" aria-current="page">{{"navbar.products" | translate}}</a>
            </li>
            <li>
              <a routerLink="/categories" routerLinkActive="text-green-400 bg-gray-500" class="block py-2 px-3 text-black rounded-lg" aria-current="page">{{"navbar.categories" | translate}}</a>
            </li>
            <li>
              <a routerLink="brands" routerLinkActive="text-green-400 bg-gray-500" class="block py-2 px-3 text-black rounded-lg" aria-current="page">{{"navbar.brands" | translate}}</a>
            </li>
          </ul>
        }

        <ul class="ms-auto items-center font-medium capitalize flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-gray-300">
          @if(!isLogin()){
            <li>
              <a routerLink="/login" routerLinkActive="text-green-400 bg-gray-500" class="block py-2 px-3 text-gray-300 rounded-lg" aria-current="page">{{"navbar.login" | translate}}</a>
            </li>
            <li>
              <a routerLink="/register" routerLinkActive="text-green-400 bg-gray-500" class="block py-2 px-3 text-gray-300 rounded-lg" aria-current="page">{{"navbar.register" | translate}}</a>
            </li>
          }
          @else{
            
<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="focus:ring-4 text-black focus:outline-none bg-gray-300 focus:ring-green-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center capitalize" type="button">{{"lang" | translate }} <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg>
  </button>
  
  <!-- Dropdown menu -->
  <div id="dropdown" class="z-10 hidden bg-gray-300 divide-y divide-gray-100 rounded-lg shadow-sm w-44">
      <ul class="py-2 text-sm text-black dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li>
          <a (click)="change('en')" class="block px-4 py-2 hover:bg-gray-100">{{"english" | translate }}</a>
        </li>
        <li>
          <a (click)="change('ar')" class="block px-4 py-2 hover:bg-gray-100">{{"arabic" | translate }}</a>
        </li>
      </ul>
  </div>
  
            <li>
              <div class="flex gap-14 justify-center items-center text-white">
                <a target="_blank" href="https://www.facebook.com/share/1BDQDVu4JN/?mibextid=wwXIfr"><i class="fa-brands fa-facebook-f text-black text-2xl"></i></a>
                <a target="_blank" href="https://www.instagram.com/abdullah.o5ama?igsh=aXlwa3RxZDY3cnkw&utm_source=qr"><i class="fa-brands fa-instagram text-black text-2xl"></i></a>
                <a target="_blank" href=""><i class="fa-brands fa-twitter text-black text-2xl"></i></a>
              </div>
            </li>
            <li>
              <a routerLink="/cart" routerLinkActive="text-green-400 bg-gray-500" class="relative text-2xl block py-2 px-3 text-gray-300 rounded-lg" aria-current="page">
                <i class="fa-solid fa-cart-shopping text-green-800 text-3xl"></i>
                <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-green-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">{{navCartCount()}}</div>
              </a>
            </li>
            <li>
              <a (click)="userLogOut()" role="button" class="block py-2 px-3 text-gray-300 rounded-sm md:p-0" aria-current="page">{{"navbar.logout" | translate}}</a>
            </li>
          }
        </ul>

      </div>
    </div>
  </nav>